.item{
    display: flex;
    margin: 20px 0;
    
}
.item p{
    margin:   auto;
     
     
    font-size: 20px;
    padding: 7px 17px;
}

.item button{
    width: 55px;
     
     margin-right: 3px;
    background-color: #f81010;
    color: white;
    border: none;
    align-items: center;
    border-radius: 5px;
     
    transition: transform 0.3s ease; /* Smooth transition */
}
.item button:hover{
    transform: scale(1.1);  
     
}